<%- include("header") -%>
<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Praesentium est eligendi beatae pariatur, qui 
     facere quam ipsa modi assumenda
     quibusdam quia quos quae aperiam, 
     atque nulla nihil hic expedita in.</p>
     
<%- include("footer") -%>